In [6]:
import os
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', -1)

BASE_PATH = os.environ.get("BASE_PATH", os.path.join(os.sep, 'Projects', 'Python_projects', 'Covid19_Analysis'))
BASE_DATA_PATH = os.environ.get("BASE_DATA_PATH", os.path.join(os.sep, 'Projects', 'Python_projects', 'Covid19_Analysis', 'data'))

In [5]:
import sys
sys.path.append('C:\\Projects\\Python_projects\\Covid19_Analysis')
from pymongo import MongoClient
from config import MONGO_URL, DB_NAME
mongo = MongoClient(MONGO_URL)[DB_NAME]

In [8]:
data = list(mongo['hashtag_specific_data'].find({}))

In [9]:
for d in data[:-2]:
    print(d)

{'_id': ObjectId('608e6648c176434ba58ba105'), 'mined_at': 1619945030, 'text': '#charity #ngoindia #nonprofit #notforprofit #donate  #Udbhavindia #education #UPCTIndia #ngo  #NPO #volunteer #NGO‚Ä¶ https://t.co/yHw4EsRc97', 'created_at': datetime.datetime(2021, 5, 2, 8, 43, 40), 'user_location': 'Bihar, India, Motihari', 'category': ['#Help', '#Vaccine'], 'agg_by': 'OR'}
{'_id': ObjectId('608e6648c176434ba58ba106'), 'mined_at': 1619945030, 'text': '@KTRoffice @SoodFoundation sir please help it‚Äôs urgent üö®  üö® #sos #help', 'created_at': datetime.datetime(2021, 5, 2, 8, 39, 19), 'user_location': 'Hyderabad, India', 'category': ['#Help', '#Vaccine'], 'agg_by': 'OR'}

In [11]:
data[-2:]

[{'_id': ObjectId('609137723f1a14ec73d0be26'),
  'mined_at': 1620129649,
  'text': '‡§™‡§Ç‡§ú‡§æ‡§¨ ‡§ï‡•á ‡§™‡§§‡•ç‡§∞‡§ï‡§æ‡§∞‡•ã‡§Ç ‡§ï‡•ã ‡§≠‡•Ä ‡§¨‡§ß‡§æ‡§à....‡§°‡§ü ‡§ï‡•á ‡§ï‡§∞‡•á‡§Ç ‡§ú‡§®‡§§‡§æ ‡§ï‡•Ä ‡§Æ‡§¶‡§¶....‡§ú‡§≤‡•ç‡§¶ ‡§π‡•Ä ‡§∏‡§¨ ‡§≤‡§ó‡§µ‡§æ ‡§≤‡•Ä‡§ú‡§ø‡§è ‡§µ‡•à‡§ï‡•ç‡§∏‡•Ä‡§® ‡§î‡§∞ ‡§®‡§ø‡§≠‡§æ‡§á‡§è ‡§Ö‡§™‡§®‡§æ ‡§ï‡§∞‡•ç‡§§‡•ç‡§§‡§µ‡•ç‡§Ø üëçüëç\n\n‡§ì‡§°‡§º‡§ø‡§∂‡§æ, ‡§Æ‡§ß‡•ç‡§Ø‡§™‡•ç‡§∞‡§¶‡•á‡§∂, ‡§¨‡§ø‡§π‡§æ‡§∞ ‡§î‡§∞ ‡§™‡§Ç‡§ú‡§æ‡§¨ ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§®‡•á ‡§™‡§§‡•ç‡§∞‡§ï‡§æ‡§∞‡•ã‡§Ç ‡§ï‡•á ‡§≤‡§ø‡§è ‡§Ö‡§¨ ‡§§‡§ï ‡§ï‡•Ä ‡§π‡•à ‡§ò‡•ã‡§∑‡§£‡§æ..\n\n#vaccine #journalists #Help #VaccinationForAll #CoronaWarriors #CoronaVaccine https://t.co/bSPagaeHMe',
  'created_at': datetime.datetime(2021, 5, 3, 11, 9, 5),
  'user_location': 'Raipur, India',
  'category': ['#Help', '#Vaccine'],
  'agg_by': 'AND'},
 {'_id': ObjectId('609137723f1a14ec73d0be27'),
  'mined_at': 1620129649,
  'text': '#cornavirusindia #food #Rohini #Delhi #Help #Share #vaccine #VaccineFor18Plus #CoronaUpdate #news https://t.co/f4rYAkrCCr',
  'created_at': datetime.datetime(2021, 5, 2, 10, 8, 55),
  'user_location': 'Rohini, New Delhi',
  'category': ['#Help', '#Vaccine'],
  'agg_by': 'AND'}]

In [60]:
df= pd.DataFrame(data)

In [61]:
df = df.sort_values(by='created_at', ascending=True)
df.drop(['_id', 'agg_by'], axis=1, inplace=True)
df.head()

,mined_at,text,created_at,user_location,category
6,1619945033,#Beds #available #Ranchi #covid19 go go go https://t.co/CQSnjykrfu,2021-04-24 17:47:15,"Jharkhand, India","[#available, #Beds]"
5,1619945033,#mumbai #malad #beds #available https://t.co/pPL0cktjP3,2021-04-25 02:09:23,"Mumbai, India","[#available, #Beds]"
55,1619986610,#Delhi #ICU #Ventilator\n@SonuSood @GautamGambhir\n#Urgent oxygen dropping üôèüôè\n\n@RubikaLiyaquat @TajinderBagga https://t.co/0yzqmai7Vc,2021-04-25 05:49:05,Surat,"[#Urgent, #Ventilator]"
25,1619986593,@ShahbazAnsar_ ‡§Æ‡•á‡§∞‡•Ä mummy ‡§ï‡•ã high oxygen flow ‡§ï‡•Ä facility ‡§µ‡§æ‡§≤‡•á hospital ‡§Æ‡•á‡§Ç ‡§è‡§ï bed ‡§ö‡§æ‡§π‡§ø‡§è. She is in Patna. Please h‚Ä¶ https://t.co/AX7YEtmPB1,2021-04-25 21:55:11,"Jammu, Jammu And Kashmir, Indi","[#Help, #Beds]"
36,1619986602,@FirhadHakim @wbdhfw \n#SOS #Urgent #Oxygen needed for 67 year old #Covid patient with dropping oxygen level.Please‚Ä¶ https://t.co/ntmiDzQlag,2021-04-26 08:46:31,Work as Journalist @ANI,"[#urgent, #Oxygen]"

In [62]:
df['Category'] = df['category'].apply(lambda x: x[0] if x and len(x)>=1 else "NA")
df['SubCategory'] = df['category'].apply(lambda x: x[1] if x and len(x)>1 else "NA")

In [24]:
df.tail()

,mined_at,text,created_at,user_location,category,Category,SubCategory
92,1620129645,"For #REMDESIVIR, contact any government hospital with the Prescription and Patient's Adhar.\nIn case, it isn't available, please contact District Collector or CMHO office or Drug Inspectors",2021-05-04 06:59:50,"Dehradun, India","[Available, #Remdesivir]",Available,#Remdesivir
60,1620129629,India needs #Oxygen \nEvery 4 minutes A Person dies by #COVID19 \nCrematoriums &amp; Burials are running OUT OF SPACE.\nYou can save PRECIOUS lives.\n\n#Help the needy people as much as possible.\n\n#OxygenCrisis \n#OxygenShortage \n#DonatePlasmaSaveLives \n#COVIDSecondWaveInIndia,2021-05-04 10:18:33,"Ghaziabad, India","[#Help, #Oxygen]",#Help,#Oxygen
59,1620129629,Downloading.....üòä\n.\n.\n.\n#oxygen¬†#oxygencylinder¬†#oxygenavailability¬†#corona¬†#coronaindia¬†#downloading¬†#help¬†#helporthers¬†#life¬†#savelife¬†#people https://t.co/wXPZHpjkft,2021-05-04 10:34:50,"Patna, India","[#Help, #Oxygen]",#Help,#Oxygen
86,1620129641,"#Oxygenbeds available here in Hyderabad \nContact : 6304828547\n#Verified by my team at 4:20pm, 4th may.\n#Oxygen #COVIDSecondWave #CovidHelpHyderabad\n#hyderabadcovidhelp\n#OxygenCrisis",2021-05-04 10:52:06,,"[Available, #Oxygen]",Available,#Oxygen
85,1620129641,"@p_sahibsingh Mr @p_sahibsingh if any #OxygenConcentrators available in your stock please share with Dwarka's RWA, every day v live on #SOS for #Oxygen \n\nPlease give few to Dwarka's needy patients üôè\nPlease share Mobile number to contact you to pick-up Oxygen concentrators.",2021-05-04 11:35:19,"Dwarka, New Delhi","[Available, #Oxygen]",Available,#Oxygen

In [63]:
df['created_at'] = df['created_at'].dt.date

In [64]:
df['Category'] = df['Category'].apply(lambda x: x.replace('#available', 'Available'))

In [65]:
samp = df.groupby(['created_at', 'Category']).agg({'text': 'count'}).reset_index()
samp2 = df.groupby(['created_at', 'SubCategory']).agg({'text': 'count'}).reset_index()

In [66]:
samp.tail(10)

    created_at   Category  text
22  2021-05-01  #urgent    3
23  2021-05-01  Available  4
24  2021-05-02  #Help      20
25  2021-05-02  #Urgent    2
26  2021-05-02  Available  8
27  2021-05-03  #Help      5
28  2021-05-03  #Urgent    1
29  2021-05-03  Available  2
30  2021-05-04  #Help      2
31  2021-05-04  Available  3

In [56]:
samp.reset_index()

    created_at   Category  text
0   2021-04-24  Available  1
1   2021-04-25  #Help      1
2   2021-04-25  #Urgent    1
3   2021-04-25  Available  1
4   2021-04-26  #urgent    1
5   2021-04-26  Available  1
6   2021-04-27  #Help      3
7   2021-04-27  #Urgent    2
8   2021-04-27  #urgent    2
9   2021-04-27  Available  3
10  2021-04-28  #Help      1
11  2021-04-28  #Urgent    8
12  2021-04-28  #urgent    4
13  2021-04-29  #Help      1
14  2021-04-29  #Urgent    2
15  2021-04-29  #urgent    5
16  2021-04-29  Available  2
17  2021-04-30  #Help      4
18  2021-04-30  #Urgent    2
19  2021-04-30  #urgent    1
20  2021-04-30  Available  3
21  2021-05-01  #Help      8
22  2021-05-01  #urgent    3
23  2021-05-01  Available  4
24  2021-05-02  #Help      20
25  2021-05-02  #Urgent    2
26  2021-05-02  Available  8
27  2021-05-03  #Help      5
28  2021-05-03  #Urgent    1
29  2021-05-03  Available  2
30  2021-05-04  #Help      2
31  2021-05-04  Available  3

In [2]:
import datetime
datetime.datetime.strftime(datetime.datetime.now(), "%d-%m-%Y %H:%M:%S")

'08-05-2021 13:02:09'

In [5]:
print(f"""\n*******************************\n
     Time: {datetime.datetime.strftime(datetime.datetime.now(), "%d-%m-%Y %H:%M:%S")},\n
     Function: Home()\n
     Error: {str('hello')}\n*******************************\n""")

*******************************

     Time: 08-05-2021 13:04:32,

     Function: Home()

     Error: hello
*******************************

In [10]:
sorted(os.listdir(f"{BASE_DATA_PATH}/logs"))

['f_09-05-2021', 'f_10-05-2021', 'f_22-05-2021']

In [11]:
sorted_logs = sorted(os.listdir(f"{BASE_DATA_PATH}/logs"))
if len(sorted_logs) > 2:
    os.remove(f"{BASE_DATA_PATH}/logs/{sorted_logs[0]}")